input {
  kafka {
    bootstrap_servers => "host.docker.internal:9092"
    topics => ["topic2"]
    codec => json
    group_id => "ner_consumer"
    auto_offset_reset => "earliest"
    consumer_threads => 1
  }
}

filter {
  json {
    source => "message"
  }
  mutate {
    convert => {
      "value" => "integer"
    }
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "ner-entities-%{+YYYY.MM.dd}"
    document_type => "_doc"
  }
  stdout { codec => rubydebug }
}